nav {
	background: white;
	margin-bottom: 20px;
	box-shadow:0px 0px 2px 2px rgba(0,0,0,.1);
}

nav ul {
	width: 1200px;
	height: 65px;
	margin: 0 auto;
}

nav li {
	float: left;
}

nav li:first-child a {
	font-size: 36px;
	padding-left: 0px; 
}

nav a {
	display: block;
	line-height: 65px;
	padding: 0 30px;
	font-size: 14px;
	color: black;
}

nav a:hover {
	color: rgb(119,119,119);
}

#main {
	width: 1200px;
	margin: 0 auto;
}

#main::after {
    content: '';
    display: block;
    height: 0px;
    clear: both;
}

#lside {
	width: 820px;
	float: left;
}

#lside h1 {
	font: 24px/22px '微软雅黑','黑体',sans-serif;
	padding-top: 20px;
	margin: 0 0 30px 15px;

}

article {	
	background: white;
	padding: 20px 25px 0px;
	box-shadow:0px 0px 2px 2px rgba(0,0,0,.1);
}

article li {
	height: 206px;
	border-bottom: 1px solid rgb(212, 207, 207);
	margin-bottom: 25px;
}

article li:last-child {
	border-bottom: 0px solid rgb(212, 207, 207);
}

article img {
	display: block;
	width: 240px;
	height: 160px;
	float: left;
}

article h4 {
	display: block;
	width: 510px;
	height: 26px;
	font:22px/26px '微软雅黑','黑体',sans-serif;
	float: left;
	margin: 5px 0 0 20px;
	overflow: hidden;
}

article h4>a, article h4>a:visited {
	color: #333;
}

article h4>a:hover {
	color: #777;
}

.entry_header {
	float: left;
	padding-top: 15px;
	margin-left: 20px;
}

.entry_header a, time, span {
	color: rgb(153, 153, 153);
	font: 14px/26px '微软雅黑','黑体',sans-serif;
	padding-right: 15px; 
}

.author:before {
	font-family: FontAwesome;
	content: '\f2be'; 
	margin-right: 4px; 
}

.clock:before {
	font-family: FontAwesome;
	content: "\f017";
	margin-right: 4px;
}

.likes:before {
	font-family: FontAwesome;
	content: "\f164";
	margin-right: 4px;
}

.browses:before {
	font-family: FontAwesome;
	content: "\f06e";
	margin-right: 4px;
}

.entry_content {
	width: 510px;
	height: 67px;
	color: rgb(153, 153, 153);
	font: 16px/22.4px '微软雅黑','黑体',sans-serif;
	overflow: hidden;
	float: left;
	padding-top: 15px;
	margin-left: 20px;
}

article .more {
	color: rgb(60, 165, 246);
	font: 15px/38px '微软雅黑','黑体',sans-serif;
	width: 60px;
	height: 38px;
	padding: 15px;
	float: right;
}

#rside {
	width: 335px;
	float: right;
}

aside {
	background: white;
	padding-top: 20px;
	margin-bottom: 20px;
	box-shadow:0px 0px 2px 2px rgba(0,0,0,.1);
}


aside h2 {
	color: rgb(51,51,51);
	font: 20px/22px '微软雅黑', '黑体', sans-serif;
	padding: 0 0 0 25px;
}

aside li {
	padding: 20px 30px;
	border-bottom: 1px solid rgb(240, 240, 240);
}

aside h4 a {
	font: 16px/25px '微软雅黑', '黑体', sans-serif;
	color: rgb(51, 51,51);
}

aside h4 a:hover {
	color: rgb(255, 0, 0);
}

aside time {
	display: block;
	margin-top: 10px;
	color: rgb(153, 153,153);
}

footer {
	height: 65px;
	background: #393D49;
}

footer p {
	color: white;
	font-size: 14px;
	line-height: 65px;
	text-align: center;
}
